<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>TEXT IT</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Arsha
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <div
      id="spinner"
      class="bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index1.html">TEXT IT</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active" href="index.html/#hero"
                >Home</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="index.html/#about">About</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="index.html/#why-us">Demo</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="index.html/#footer">Team</a>
            </li>

            <li>
              <a class="getstarted scrollto" href="index.html/#about"
                >Get Started</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>Deep Learning-Based Text Reading in the Wild</h1>
            <h2>
              A Case Study of YOLO for Text Detection and ResNet/VGG for Text
              Recognition
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="index.html/#about" class="btn-get-started scrollto"
                >Get Started</a
              >
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="static/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container">
          <div class="row justify-content-center" data-aos="zoom-in">
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="static/img/clients/GitHub-logo.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img src="static/img/clients/coo.png" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="static/img/clients/Flask_logo.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img src="static/img/clients/vsc.png" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="static/img/clients/kaggle.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="static/img/clients/Python.png"
                class="img-fluid"
                style="max-width: 77px; max-height: 77px"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Cliens Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6">
              <p>
                Our project, undertaken for the end-year project, revolves
                around text detection and recognition. It encompasses several
                key components:
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> Utilization of a YOLOv8
                  model trained using the COCO-Text dataset for accurate text
                  detection.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Implementation of both
                  ResNet and VGG models, trained specifically for text
                  recognition tasks.
                </li>
                <li>
                  <i class="ri-check-double-line"></i> Development of a Flask
                  application to integrate and showcase the functionalities of
                  our text detection and recognition system.
                </li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Our project initially faced challenges in text detection using the ICDAR2015 and SVT datasets with YOLOv8.1. Disappointed with the results, we turned to the COCO-Text dataset and YOLOv8.2. Retraining our model with a subset of 2000 images from COCO-Text improved detection accuracy. We then implemented a cropping mechanism to isolate text regions for recognition using ResNet and VGG architectures. Finally, we developed a user-friendly interface to display cropped images and recognized words, offering a complete solution for real-world text detection and recognition.
              </p>
              <a href="#why-us" class="btn-learn-more"
                >Start A Demo</a
              >

              
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Why Us Section ======= -->
      <section
        id="why-us"
        class="why-us section-bg"
        style="margin-bottom: 250px"
      >
        <div class="container text-center" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-12">
              <h3>Image Processing</h3>
            </div>
          </div>

          <div class="row mb-3">
           
              
              <span id="imageStatus"></span>
              
              <form
                id="uploadForm"
                action="{{ url_for('index') }}"
                method="post"
                enctype="multipart/form-data"
                
              >
              <div id="dropZone" class="border border-primary p-4">
                <p class="text-center mb-0">Drag & Drop image here</p>
                <input id="imageInput" type="file" name="image" required />
            </div>
                
              </form>
            
          </div>
          

          <script>
            const dropZone = document.getElementById('dropZone');
        
            // Prevent default drag behaviors
            ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropZone.addEventListener(eventName, preventDefaults, false);
                document.body.addEventListener(eventName, preventDefaults, false);
            });
        
            // Highlight drop area when item is dragged over it
            ['dragenter', 'dragover'].forEach(eventName => {
                dropZone.addEventListener(eventName, highlight, false);
            });
        
            // Unhighlight drop area when item is dragged away
            ['dragleave', 'drop'].forEach(eventName => {
                dropZone.addEventListener(eventName, unhighlight, false);
            });
        
            // Handle dropped files
            dropZone.addEventListener('drop', handleDrop, false);
        
            function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
            }
        
            function highlight(e) {
                dropZone.classList.add('border-info');
            }
        
            function unhighlight(e) {
                dropZone.classList.remove('border-info');
            }
        
            function handleDrop(e) {
                const dt = e.dataTransfer;
                const files = dt.files;
        
                handleFiles(files);
            }
        
            function handleFiles(files) {
                const file = files[0];
                const imageInput = document.getElementById('imageInput');
        
                // Update input element with dropped file
                imageInput.files = files;
        
                // Display filename or any other relevant information
                document.getElementById('imageStatus').innerText = `Selected File: ${file.name}`;
                hideChooseImageButton();
            }
            function hideChooseImageButton() {
        const chooseImageButton = document.getElementById('chooseImageButton');
        chooseImageButton.style.display = 'none';
    }
        </script>
          

          <div class="row mb-3">
            <div class="col-lg-12">
              <a
                id="process"
                type="submit"
                class="btn-get-started scrollto border-button"
                onclick="spinner()"
                >Process Image</a
              >
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6" id="image-results">
              {% if original_image %}
              <h2>Original Image</h2>
              <div class="image-container">
                <img
                  src="{{ url_for('static', filename=original_image) }}"
                  alt="Original Image"
                  style="width: 640px; height: 427px"
                />
              </div>
              {% endif %}
            </div>
            <div class="col-lg-6">
              {% if processed_image %}
              <h2>Processed Image</h2>
              <div class="image-container">
                <img
                  src="{{ url_for('static', filename=processed_image) }}"
                  alt="Processed Image"
                  style="width: 640px; height: 427px"
                />
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              {% if cropped_images and detected_words %}
              <h2>Cropped Images</h2>
              <div
                class="image-container"
                style="display: flex; flex-wrap: wrap"
              >
                {% for i in range(cropped_images|length) %}
                <div class="cropped-image" style="margin-right: 20px">
                  <img
                    src="{{ url_for('static', filename='cropped_images/cropped_' + (i+1)|string + '.jpg') }}"
                    alt="Cropped Image"
                  />
                  <p>{{ detected_words[i] }}</p>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      {% if scroll_position %}
      <script>
        // Function to scroll to a specific element by ID
        function scrollToElement() {
          const element = document.getElementById('image-results');
          if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'start' });
          }
        }
      
        // Call the scrollToElement function after a short delay to ensure the content is loaded
        setTimeout(scrollToElement, 100);
      </script>
      {% endif %}
      
      <!-- End Why Us Section -->
    </main>
    <!-- End #main -->

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="section-title">
            <h2>Team</h2>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
              <div class="team-member text-center">
                <img
                  class="img-fluid col-lg-6 col-md-8"
                  src="../static/team/team-01.png"
                  alt="Team Member 1"
                />
                <h4>Amir Abid</h4>
                <a href="mailto:abid.amir@enis.tn">abid.amir@enis.tn</a><br />
                <a href="https://www.linkedin.com/in/amir-abid-726743252/"
                  ><i class="bx bxl-linkedin"></i> LinkedIn Profile</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="team-member text-center">
                <img
                  class="img-fluid col-lg-6 col-md-8"
                  src="../static/team/team-02.png"
                  alt="Team Member 2"
                />
                <h4>Med Hedi Samet</h4>
                <a href="mailto:samet.mohamedhedi@enis.tn"
                  >samet.mohamedhedi@enis.tn</a
                ><br />
                <a href="https://www.linkedin.com/in/samet-mohamed-hedi"
                  ><i class="bx bxl-linkedin"></i> LinkedIn Profile</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="team-member text-center">
                <img
                  class="img-fluid col-lg-6 col-md-8"
                  src="../static/team/team-03.png"
                  alt="Team Member 3"
                />
                <h4>Med Mahdi Gouiaa</h4>
                <a href="mailto:gouiaa.mohamedmahdi@enis.tn"
                  >gouiaa.mohamedmahdi@enis.tn</a
                ><br />
                <a href="https://www.linkedin.com/in/gouiaa-mohamed-mahdi/"
                  ><i class="bx bxl-linkedin"></i> LinkedIn Profile</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container clearfix">
          <div class="copyright">
            &copy; Copyright <strong><span>TEXT IT</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">
            Designed by TEXT IT
          </div>
        </div>
      </div>
    </footer>

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
    <script>
      //   function toggleDarkMode() {
      //     document.getElementById('uploadForm').submit();
      //    changeModeAnimationContainer.classList.remove("d-none");
      //   setTimeout(() => {
      //     changeModeAnimationContainer.classList.add("d-none");
      //   }, 2000);
      // }
      function spinner() {
        var spinner = document.getElementById("spinner");
        spinner.classList.add("show");
        document.getElementById("uploadForm").submit();
      }
    </script>
    <script>
      // Store the current scroll position before the page reloads
      window.addEventListener('beforeunload', function () {
        sessionStorage.setItem('scrollPosition', window.scrollY);
      });
    
      // Restore the scroll position after the page reloads
      window.addEventListener('load', function () {
        var scrollPosition = parseInt(sessionStorage.getItem('scrollPosition'));
        if (!isNaN(scrollPosition)) {
          window.scrollTo(0, scrollPosition);
          sessionStorage.removeItem('scrollPosition'); // Remove the stored scroll position
        }
      });
    </script>
    
    <script>
      document.getElementById('imageInput').addEventListener('change', function() {
        var fileName = this.value.split('\\').pop(); // Extract filename from the path
        document.getElementById('imageStatus').textContent = 'Image loaded successfully: ' + fileName;
      });
    </script>
    <script>
      // Check if there's a hash in the URL
      if (window.location.hash) {
          // Smooth scroll to the target section
          document.querySelector(window.location.hash).scrollIntoView({
              behavior: 'smooth'
          });
      }
  </script>
  
    
  </body>
</html>
